<div class="header-container d-flex align-items-center justify-content-between">
  <div class="search-field-container">
    <svg-icon name="search"></svg-icon>
    <input type="text" pInputText placeholder="Username">
  </div>
  <div class="user-details-container">
    <div class="notification-container">
      <svg-icon name="notification"></svg-icon>
      <span>4</span>
    </div>
    <div class="user-container">
      <img src="assets/images/user-image.png" alt="user-image.png">
      <div class="user-details">
        <span class="user-name">Nadeem Khan</span>
        <span class="user-role">Admin</span>
      </div>
    </div>
    <div class="logout-button">
      <svg-icon name="logout"></svg-icon>
    </div>
  </div>
</div>
