<app-overlay *ngIf="isLoading"></app-overlay>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="logo-container d-flex justify-content-center">
        <img src="assets/images/app-logo.png" alt="app-logo.png">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="select-subjects-container">
        <h3>Select Subject</h3>

        <div class="subjects-container">
          <div class="general-category-container">
            <h4>General Category</h4>
            <div class="list-container">
              <ng-container *ngFor="let subject of generalCategory">
                <p-radioButton [(ngModel)]="selectedGeneralCategory" [label]="subject.name" name="general-category" [value]="subject"></p-radioButton>
              </ng-container>
            </div>

          </div>
          <div class="sub-category-container">
            <h4>Subcategory</h4>
            <div class="list-container">
              <ng-container *ngFor="let subject of subCategory">
                <p-radioButton [(ngModel)]="selectedSubCategory" [label]="subject.name" name="sub-category" [value]="subject"></p-radioButton>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="add-button-container">
          <button label="Add" class="add-button" (click)="addSubject()" pButton type="button"></button>
        </div>
      </div>


    </div>
  </div>

  <div class="row" *ngIf="selectedSubjects && selectedSubjects.length > 0">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="selected-subjects-container">
        <h3>Selected Subjects</h3>

        <div class="subjects-container">
          <div class="list-container" *ngFor="let selectedSubject of selectedSubjects">
            <span>{{selectedSubject.subjectInfo.name}}</span>
            <hr class="line">
            <span>{{selectedSubject.classInfo.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between">
      <button icon="pi" iconPos="left" (click)="onBackClick()" class="back-button ui-button-primary" pButton label="Back" type="button">
      </button>
      <button icon="pi" iconPos="right" (click)="onNextClick()" class="next-button ui-button-primary" pButton label="Next" type="button">
      </button>
    </div>
  </div>
</div>
