<app-overlay *ngIf="isLoading"></app-overlay>
<div class="login-form">
  <form [formGroup]="loginForm" (submit)="signIn()" autocomplete="off">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="d-flex justify-content-center">
          <img class="trot-logo" src="assets/images/app-logo.png" alt="app-logo.png">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <span class="login-msg">Please login to access the admin area!</span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="field-container">
          <app-form-control>
            <svg-icon name="username" class="svg-border-right"></svg-icon>
            <input class="input-style" type="text" formControlName="username" pInputText autocomplete="phone"
                   placeholder="Username">
          </app-form-control>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="field-container">
          <app-form-control>
            <svg-icon name="password" class="svg-border-right"></svg-icon>
            <input class="input-style" [type]="showPassword ? 'text' : 'password'" pInputText formControlName="password" autocomplete="password"
                   placeholder="Password">
            <svg-icon class="eye-icon" (click)="showPassword = !showPassword" name="eye"></svg-icon>
          </app-form-control>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="button-container">
          <button pButton type="submit" label="Log in" class="ui-button-primary w-100" [disabled]="isLoading"></button>
        </div>
      </div>
    </div>

  </form>
</div>
