.main-container {
  background-color: #E5E5E5;
}

.main-header-container {
  padding: 10px 50px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #E5E5E5;

  .bars-container {
    display: none;
  }

  .navbar-container {

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 !important;

      li {
        margin: 0 10px;
        cursor: pointer;
        font-family: Poppins, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.045em;
        color: #747474;

        a{
          color: unset !important;
        }

        a:hover {
          text-decoration: unset !important;
        }
      }

      li:first-child {
        margin-left: 0 !important;
      }

      li:last-child {
        margin-right: 0 !important;
      };

      li.active {
        color: #4F98E4;

      }
    }
  }
}

.main-footer-container {
  display: flex;
  justify-content: space-between;
  padding: 60px 90px;
  border-top: 1px solid #FFFFFF;

  h2 {
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0.045em;
    color: #4F98E4;
    margin-bottom: 30px;
  }

  > div div {
    display: flex;
    margin-bottom: 30px;

    svg-icon {
      height: 28px;
      width: 28px;
      margin-right: 20px;
    }

    span {
      font-family: Poppins, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.045em;
      color: #747474;
    }
  }

  > div div:last-child {
    margin-bottom: 0 !important;
  }

  .social-icon svg-icon{
    height: 45px !important;
    width: 45px !important;
  }
}

.copy-right-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #FFFFFF;
}

@media screen and (max-width: 800px) {
  .main-header-container {
    padding: 15px !important;
  }
  .bars-container {
    display: block !important;
  }

  .main-footer-container {
    flex-wrap: wrap;
    padding: 15px;

    > div:last-child {
      margin-top: 20px;
    }
  }

  .navbar-container {
    padding: 20px !important;
    width: 80%;
    background: #FFFFFF;
    position: absolute;
    top: 98px;
    right: 0;
    transition: 0.4s ease-in-out;
    display: unset !important;
    min-height: 100vh;

    ul {
      flex-direction: column;
      padding: 0 !important;
      align-items: flex-end !important;

      li {
        margin: 0 !important;
        height: 45px;
      }
    }
  }

  .show-sidebar {
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
    min-height: 100vh;
    height: 100%;
    background: #FFFFFF;
  }

  .hide-sidebar {
    transform: translateX(100%);
    opacity: 0;
    z-index: -1;
  }
}
