.main-container {
  width: 100%;
  background: #FAFAFA;
  padding: 30px 50px;
  box-sizing: border-box;
  min-height: 100vh;
}

.main-bg {
  display: flex;
  align-items: center;
  min-height: 90vh;
  justify-content: center;
}
