$primary_font: 'Poppins';

$primary: rgba(65, 68, 74, 0.48);
$btn-radio: linear-gradient(90.52deg, #4F98E4 0.46%, #4F98E4 99.65%);
$btn-primary: linear-gradient(90.52deg, rgba(79, 152, 228, 0.8) 0.46%, rgba(202, 41, 249, 0.8) 99.65%);
$btn-secondary: linear-gradient(90.52deg, rgba(79, 152, 228, 0.12) 0.46%, rgba(202, 41, 249, 0.12) 99.65%);
$border-color: linear-gradient(180deg, rgba(79, 152, 228, 0.3) 0%, rgba(202, 41, 249, 0.3) 100%);

$sidebar-hover-light-blue: #90CBFC;
$blue-bg: #007ad9;
$black: #000000;
$almostblack: #1D1E32;
$success: #28a745;
$inputborder: #D4D4D4;
$danger: #FF061B;
$bodybg: #EDF2F6;
$inputbg: #f2f2f2;
$white: #ffffff;
$maroon: #CD3C79;
$box-shadow: #00000025;

$darker-grey: #23241f;
$darkgrey: #333333;
$darkslate: #444444;
$darkgreytext: #4E4F50;
$text-color: #B7B4B4;

$inputtext: rgba(65, 68, 74, 0.48);
$inputbg: #f2f2f2;
$inputborder: #D7D7D7;
$bodytext: #54677C;

$success-alert-color: #3c763d;
$success-alert-back: #dff0d8;
$success-alert-border: #d6e9c6;

$darkgreytext: #4E4F50;
$bodytext: #54677C;
$label-color: #707070;
$grey: #70787b;
$inputtext: #949EA6;
$darktext: #989898;
$lightgrey: #A6A7B5;
$greytext: #c2c2c2;
$secondary-bg: #E4E5E9;

$switch-active-bgColor: #65BD61;
$switch-inactive-bgColor: #E5E5E5;
$switch-toggle-inactive-bgColor: #707070;
