<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="logo-container d-flex justify-content-center align-items-center">
        <img src="assets/images/app-logo.png" alt="app-logo.png">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="questions-container">
        <h3>Science Quiz</h3>

        <div class="timer">
          <span>00:30</span>
        </div>

        <div class="question-container">
          <h6>Question <span>2 of 12</span></h6>
          <p>2. Which of the following is NOT a statement of the logistic growth model?</p>
        </div>
        <div class="answer-container">
          <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
        </div>
        <div class="answer-container selected">
          <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
        </div>
        <div class="answer-container">
          <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
        </div>
        <div class="answer-container">
          <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
