<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="logo-container d-flex justify-content-center align-items-center">
        <img src="assets/images/app-logo.png" alt="app-logo.png">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="tutor-declaration-form-container">
        <h3>Tutor Declaration Form</h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
        <h3>I agree</h3>
        <ul>
          <li>Amet minim mollit non deserunt ullamco est sit</li>
          <li>Amet minim mollit non deserunt ullamco est sit</li>
          <li>Amet minim mollit non deserunt ullamco est sit</li>
          <li>Amet minim mollit non deserunt ullamco est sit</li>
          <li>Amet minim mollit non deserunt ullamco est sit</li>
          <li>Amet minim mollit non deserunt ullamco est sit</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-end">
      <button icon="pi" iconPos="right" (click)="onNextClick()" class="next-button ui-button-primary" pButton label="Next" type="button">
      </button>
    </div>
  </div>
</div>
