@import "../../../styles/variables";

.sidebar-container {
  text-align: center;

  .matrix-logo {
    padding: 14px 10px;

    svg-icon {
      width: 55px;

      ::ng-deep {
        svg {
          fill: $white;
        }
      }
    }
  }

  .sidebar-items {
    margin-top: 60px;

    .sidebar-item {
      height: 70px;
      cursor: pointer;
      transition: .3s;
      border-right: 4px solid transparent;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        opacity: 0.5;
        position: relative;
        right: -2px;
        height: 100%;
      }
      svg-icon {
        width: 100%;

        ::ng-deep {
          svg {
            height: 70px;
            opacity: 0.5;
            fill: $white;
            transition: .3s;
          }
        }
      }

      &:focus, &.active, &:active {
        outline: none;
        box-shadow: none;
      }

      &:hover, &.active {
        border-right: 4px solid $sidebar-hover-light-blue;
        img {
          opacity: 1;
          position: relative;
          right: -2px;
        }
        svg-icon {
          ::ng-deep {
            svg {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.side-icon {
  width: 100%;

  ::ng-deep {
    img {
      height: 70px;
      opacity: 0.5;
      fill: $white;
      transition: .3s;
    }
  }

  &:hover, &.active {
    // border-right: 4px solid $sidebar-hover-light-blue;

    ::ng-deep {
      img {
        opacity: 1;
      }
    }
  }
}
