<div class="terms-and-conditions-container">
  <pre>
    TERMS OF USE AGREEMENT FOR EXPERT SERVICES APPLICATION
    ACCEPTANCE OF TERMS OF USE
    please carefully read the following terms of use terms before using the expert service provider application find an
    expert pvt the application or we by accessing and using this application the user you acknowledge that you have read
    and understood and agree to be bound by these terms which form an agreement that is as effective as if you had signed
    it if it any time you do not agree to these terms your permission to access or use find an expert or any of its
    content is automatically and immediately revoked your access to use of and browsing of the site and its contents
    are subject to all terms of use contained herein the privacy policy and all applicable laws and regulations">Please
    carefully read the following Terms of Use (“Terms”) before using the Trots application (“Trots tutor,” “the
    Application,” or “we”).By accessing and using this application, the User (“you”) acknowledge that you have read and
    understood and agree to be bound by these Terms, which form an agreement that is as effective as if you had signed
    it. If it any time you do not agree to these Terms, your permission to access or use Trots tutor or any of its
    content is automatically and immediately revoked. Your access to, use of and browsing of the site and its contents
    are subject to all Terms of Use contained herein, the Privacy Policy and all applicable laws and regulations.

    OWNERSHIP
    the content available through the application is the sole and exclusive property of find an expert pvt ltd you agree
    not to reproduce duplicate copy sell resell or exploit for any commercial purpose any portion of the application other
    than as expressly authorized by expert pvt ltd in writing use of the application in any way not expressly permitted
    by these terms is prohibited and may be actionable under the international law">The content available through the
    Application is the sole and exclusive property of Trots tutor. Ltd. You agree not to reproduce, duplicate, copy,
    sell, resell or exploit for any commercial purpose, any portion of the Application other than as expressly
    authorized by Trots Pvt. Ltd in writing. Use of the Application in any way not expressly permitted by these Terms
    is prohibited, and may be actionable under the international law.

    MODIFICATIONS TO TERMS OF USE
    Trots reserves the right to modify these Terms and the Privacy Policy at any time. The Users are held responsible to
    periodically review the most current Terms. Their continued use of the Application following the posting of such change
    constitutes their acceptance of the amended Terms of Use. After incorporation of the new content in the Terms and
    the Privacy Policy, the users shall declare to have read and accepted the new content and all of its content.
    In case of modification of any of the content in these Terms and of Use and Privacy Policy under sentence or
    judgment given by a competent court or under an award made by an arbitrator or by a court of arbitration, the
    other content that have not been modified, changed, or resolved remain in force and shall be valid for both parties.
  </pre>
</div>
