.info-section {
  display: flex;
  justify-content: center;
}

.location-bg {
  background: rgba(255, 255, 255, 0.96);
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  padding: 15px 50px;
}

.search-location {
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.055em;
  color: #333333;
  padding: 10px 15px;
}

agm-map {
  height: 200px;
}

.mb-30 {
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .info-section {
    display: block;
    padding: 0;
  }

  .shadow-box {
    margin: 20px 0;
    align-items: flex-start;
    padding: 15px 50px;
  }
}

@media only screen and (max-width: 440px) {
  .info-section {
    display: block;
    padding: 0;
  }

  .shadow-box {
    margin: 20px 0;
    align-items: flex-start;
    padding: 15px;
  }

  .location-bg {
    padding: 15px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

:host ::ng-deep {
  .ui-dropdown .ui-dropdown-panel {
    min-width: 100% !important;
  }
}
