<div class="row">
  <div class="col-lg-12 p-0">
    <div class="banner-container">
      <h1>"GET YOUR PRIVATE <br> TUTOR NOW"</h1>
      <div>
        <div class="warning-img-container">
          <img src="/assets/images/warning.png" alt="warning.png">
        </div>
        <div class="contact-us-container">
          <button pButton type="button" icon="pi" class="contact-us-button" label="Contact Us"></button>
          <h3>WE ARE UNDER CONSTRUCTION</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 p-0">
    <div class="launching-container">
      <h2>YOUR TUTOR IS JUST A TAP AWAY</h2>
      <h2>LAUNCHING SOON</h2>
    </div>
  </div>
</div>
