<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="logo-container d-flex justify-content-center align-items-center">
        <img src="assets/images/app-logo.png" alt="app-logo.png">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="subjects-for-quiz-container">
        <h3>Tutor Subjects for Quiz</h3>
        <div class="subject-container">
          <div class="subject-name">
            <span>Physics</span>
          </div>
          <div class="test-details">
            <span>Total Attempt : <b>2</b></span>
            <span>Total Attempt : <b>2</b></span>
          </div>
        </div>
        <div class="button-container">
          <button pButton type="button" label="Take Quiz"></button>
        </div>
        <div class="subject-container">
          <div class="subject-name">
            <span>Physics</span>
          </div>
          <div class="test-details">
            <span>Total Attempt : <b>2</b></span>
            <span>Total Attempt : <b>2</b></span>
          </div>
        </div>
        <div class="button-container">
          <button pButton type="button" label="Take Quiz"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between">
      <button icon="pi" iconPos="left" (click)="onBackClick()" class="back-button ui-button-primary" pButton label="Back" type="button">
      </button>
      <button icon="pi" iconPos="right" (click)="onNextClick()" class="next-button ui-button-primary" pButton label="Next" type="button">
      </button>
    </div>
  </div>
</div>
